/* EquitiesDashboard CSS */
.equities-dashboard {
    width: 100%;
    height: 100%;
    overflow-y: auto; /* Scrollable if there are more than 3 stock widgets */
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Container holding the stock widgets */
.tickers-container {
    display: flex;
    flex-direction: column; /* Stack widgets vertically */ /* Small gap between widgets */
    height: 100%; /* Fill the container height */
    gap: 3px;
}

/* Style for individual stock items */
.stock-item {
    width: 100%; /* Full width for each stock widget */
    height: 100px; /* Set height of each widget */
}
