/* Importing Roboto Font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Main container with reduced height and increased width */
.auction-widget {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  line-height: 30px;
  letter-spacing: 1px;
  color: white;
  text-align: center;
}

/* Header styling */
.auction-widget-header {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif !important;
  font-weight: bold;
  text-align: center;
}

/* Content container with centered elements */
.auction-widget-content {
  width: 100%;
  font-family: 'Roboto', sans-serif !important;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

/* Submit button with centered alignment and updated size */
.auction-widget-button {
  width: 80%;
  padding: 4px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif !important;
  color: white;
  background-color: #04a454;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Styled input */
.auction-widget-input {
  width: 70%; /* Decreased width */
  padding: 4px; /* Reduced padding */
  font-size: 14px; /* Smaller font size */
  border: 1px solid #555;
  border-radius: 6px; /* Smaller border radius */
  outline: none;
  color: white;
  background-color: #434343;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Button hover effect */
.auction-widget-button:hover {
  background-color: #247a52;
}
