/* ImageDisplayWidget.css */

.team-logo {
  width: calc(100% - 6px); /* Scale image to fit the width */
  height: 110%; /* Scale image to fit the height */
  object-fit: contain; /* Preserve aspect ratio and fit within the container */
  border-radius: 15px; /* Add rounded edges */
}
